<table id="device_table" class="ui selectable table">
  <thead>
    <tr>
      <th>MAC</th>
      <th>Nick Name</th>
      <th>Detail</th>
      <th>Device Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
</div>

<!-- This script makes this live -->
<script src="js/device_data.js"></script>
