<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <!-- Main JavaScripts -->
    <script src="js/vendor/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- Semantic UI -->
    <script type="text/javascript" src="fomantic-ui/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="fomantic-ui/semantic.min.css">

    <!-- DataTables -->
    <script src="js/vendor/jquery.dataTables.min.js"></script>
    <script src="js/vendor/dataTables.semanticui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/index.js"></script>
  </head>
  <body>
    <div class="ui fixed stackable menu">
      <div class="ui container">
        <a href="#" class="header item">
          <i class="bar chart icon"></i>
          Panel Anthrax
        </a>
        <a href="./" class="{{#index}}active{{/index}} item">Arp Table</a>
        <a href="./devices" class="{{#devices}}active{{/devices}} item">Devices</a>
      </div>
    </div>

    <div id="maincontent" class="ui main container">
      {{#index}}{{> arp_table}}{{/index}}
      {{#devices}}{{> device_data}}{{/devices}}
    </div>

    <div id="notification" style="display: none" class="ui message">
      <i class="close icon"></i>
      <div class="header">
        Welcome Panel Anthrax!
      </div>
      <p>This is a special notification which you can dismiss if you're bored with it.</p>
    </div>
  </body>
</html>
