<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <!-- Main JavaScripts -->
    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- Semantic UI -->
    <script src="semantic-ui/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic-ui/semantic.min.css">

    <!-- DataTables -->
    <script src="js/vendor/jquery.dataTables.min.js"></script>
    <script src="js/vendor/dataTables.semanticui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="ui fixed stackable menu">
      <div class="ui container">
        <a href="#" class="header item">
          <i class="bar chart icon"></i>
          Panel Anthrax
        </a>
        <a href="./" class="{{#index}}active{{/index}} item">Arp Table</a>
        <a href="./devices" class="{{#devices}}active{{/devices}} item">Devices</a>

        <div class="ui simple dropdown item">
          Beholdning <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="#">Balanse</a>
            <a class="item" href="#">Inngående</a>
            <a class="item" href="#">Utgående</a>
            <div class="divider"></div>
            <a class="item" href="#">Søk</a>
          </div>
        </div>

        <div class="ui simple dropdown item">
          Kunder <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="#">Oversikt</a>
            <div class="divider"></div>
            <a class="item" href="#">Ny kunde</a>
          </div>
        </div>

        <div class="right menu">
          <div class="borderless item">
            <button id="userbutton" class="ui right labeled icon teal button">
              <i class="caret down icon"></i>Tormod
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="maincontent" class="ui main container">
      {{#index}}{{> arp_table}}{{/index}}
      {{#devices}}{{> device_data}}{{/devices}}
    </div>

    <script src="js/index.js"></script>
  </body>
</htm>
