.ui.table td {
  padding-top: 4px;
  padding-bottom: 4px;
}

.ui.table tr th {
  background-color: #fff7e9;
}

.ui.selectable.table tbody tr:hover,
.ui.table tbody tr td.selectable:hover {
  background-color: #e9f1ff !important;
  color: black !important;
}

body {
  height: calc(100% - 7em) !important;
}

.dont-show {
  display: none;
}

#userbutton {
  font-size: .88em;
  i {
    font-size: 1rem;
  }
}

#maincontent {
  margin-top: 6em;
}

#notification {
    position:fixed;
    bottom:0px;
    left: 0px;
    z-index:105;
    margin: 1em;
}
